<div class="customers">
  <mat-toolbar>
    <button (click)="showMenu()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example__title">Orders</span>
    <span class="example-spacer"></span>
  </mat-toolbar>

  <app-search></app-search>
  <!--  <app-edit-customer></app-edit-customer>-->
  <router-outlet></router-outlet>




  <!--  <div class="customers__content">-->




  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <!-- Position Column -->
    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef>Customer No</th>
      <td mat-cell *matCellDef="let element">{{element.customer}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let element">{{element.address}}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="deliveryDays">
      <th mat-header-cell *matHeaderCellDef>Delivery Days</th>
      <td mat-cell *matCellDef="let element">{{element.deliveryDays}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      (click)="clickedRows.add(row)"
      [class.demo-row-is-clicked]="clickedRows.has(row)"
      *matRowDef="let row; columns: displayedColumns;"
    ></tr>
  </table>






  <mat-paginator [length]="100"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25 ]">
  </mat-paginator>
</div>
<!--</div>-->


<!--<div *ngIf="customers.length == 0" class="customers__data" >-->
<!--  <div class="customers__dataImg">-->
<!--    <img src="./assets/images/customers/noData.png">-->
<!--  </div>-->
<!--  <h3 class="customers__dataTitle">No Data to Display</h3>-->
<!--  <p class="customers__dataText">Seems like you don’t have any customer yet. Let’s create it now!</p>-->
<!--  <app-btn-add-customers></app-btn-add-customers>-->
<!--</div>-->


<!--<div class="customers__title">-->
<!--  <div class="customers__title_customer">Customer No</div>-->
<!--  <div class="customers__title_name">Name <img src="./assets/images/customers/arrow-down.png"></div>-->
<!--  <div class="customers__title_address">Address</div>-->
<!--  <div class="customers__title_deliveryDays">Delivery Days</div>-->
<!--</div>-->



<!--<ng-container *ngIf="customers.length > 0">-->
<!--  <div  *ngFor="let i of customers">-->
<!--    <div class="customers__title">-->
<!--      <div class="customers__title_customer">{{i.customer}}</div>-->
<!--      <div class="customers__title_name">{{i.name}}</div>-->
<!--      <div class="customers__title_address">{{i.address}}</div>-->
<!--      <div class="customers__title_deliveryDays">{{i.deliveryDays}}</div>-->
<!--    </div>-->
<!--  </div>-->
<!--</ng-container>-->




