.btn-replace-catalog {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  font-family: 'Manrope', 'Open Sans';
  color: #414141;
  background-color: transparent;
  display: flex;
  align-items: center;
  margin-right: 44px;
  img {
    margin-right: 12px;
  }
}
